.map-page {
  text-align: center;
  padding: 2rem 0;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

iframe {
  width: 100%;
  max-width: 800px; /* Match the width of the map */
  height: 500px; /* Match the height of the map */
  border: 2px solid #ddd; /* Optional border for better visibility */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}


